
body {
    background-color: rgb(203 234 255);
    font-weight: 400;
    font-size: 20px;
    font-family: 'Open-Sans', sans-serif;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.posts {
    background-color: aliceblue;
}

.posts > * {
    display: flex;
    justify-content: center;
    padding: 1%;
    text-decoration: none;
    width: 100%;
}